{% extends 'base.html' %}

  <h1>{% block title %}Home{% endblock %}</h1>
{% block header %}
{% endblock %}

{% block content %}
    <form action="{{ url_for('redirect_page') }}" method="get">
    <h2 class="text-center"> Escolha uma funcionalidade </h2>
    <br>
    <div class = "container">
        <select name = "option">
            <option value="list_products">Editar Produtos</option>
        </select>
    </div>
    <br>
    <input type="submit" value="Confirmar">
    </form>
{% endblock %}
