{% extends 'base.html' %}

{% block header %}
  <style>
  .description {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .price {
      font-weight: bold;
      font-size: 1.0em; 
  }
  .description h4 {
      color: #1f32ad;
  }
  </style>  
    
  <h1>
  {% block title %}
  {% if type == "product" %}
      Produtos
  {% else %}
      Clientes
  {% endif %}
  {% endblock %}
  </h1>

{% endblock %}

{% block content %}
  {% if type == "customer" %}
  <form action="{{ url_for('add_customer') }}" method="post">
      <input type="submit" value="Adicionar Novo Cliente">
  </form>
  {% endif %}
  {% for item in list %}
    <article class="post">
      <header>
        <div>
          <h1>{{ item[0]}}</h1>
        </div>
        {% if type == "product" %}
        <a class="action" href="{{ url_for('edit_product', sku=item[3]) }}">Editar</a>
        {% endif %}
      </header>
        <div class = "description">
        {% if type == "product" %}
              <h4> {{ item[1] }}</h4>
              <span class="price">{{ item[2] }} €</span>
        {% else %}
              <h4> E-mail: {{ item[1] }} <br> Morada: {{ item[2] }} <br> Telemóvel: {{ item[3] }}</h4>
        {% endif %}
        </div>
    </article>
    {% if not loop.last %}
    <hr>
    {% endif %}
  {% endfor %}
{% endblock %}