{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Account {{ account['account_number'] }} | Deposit or Withdraw{% endblock %}</h1>
{% endblock %}

{% block content %}
  <hr>
  <form method="post">
    <h2>Amount to Deposit or Withdraw</h2>
    <label for="account_number">Account Number</label>
    <input name="account_number" id="account_number" type="text" value="{{ request.form['account_number'] or account['account_number'] }}" disabled>
    <label for="amount">Amount</label>
    <input name="amount" id="amount" type="number" min="0" step="0.0001" placeholder="0.0000" value="{{ request.form['amount']}}" required>
    <input type="submit" value="Confirm">
  </form>
  <hr>
{% endblock %}
