<!doctype html>
<title>{% block title %}{% endblock %} - Projeto de Base de Dados</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<nav class="navbar navbar-inverse">
  <h1><a href="/">Projeto de Base de Dados</a></h1>
  <div class="container-fluid">
      <ul class="nav navbar-nav">
      <li class="active"><a href= "{{ url_for('homepage') }}">Home</a></li>
      <li><a href="{{ url_for('list_products') }}">Editar Produtos</a>
      <li><a href="{{url_for('list_customers')}}"> Registar/Remover Clientes</a>
          <li><a href="{{url_for('select_cust_no')}}"> Pagar Encomenda</a>
    </ul>
  </div>
</nav>
  <section class="content">
    <header>
      {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
  </section>