{% extends 'base.html' %}

{% block header %}
  <style>
  .description {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .price {
      font-weight: bold;
      font-size: 1.0em; 
  }
  .description h4 {
      color: #1f32ad;
  }

  .form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input_number, .button {
  margin-top: 3px;
}
  </style>  

{% endblock %}

{% block content %}
    <article class="post">
        <div class = "description">
        {% if type == "order" and purpose == "show_orders"%}
              <span class="price">Número de Cliente:</span>
            <form action="{{ url_for('show_customer_orders') }}" method="post">
          <input class="input_number" type="number" name="cust_no_form">
          <input class="button" type="submit" value="Pagar">
            </form>
        {% else %}
          <span class="price">Número de Cliente:</span>
            <form action="{{ url_for('read_cust_no') }}" method="post">
              <input class="input_number" type="number" name="cust_no_form" step="1" min="1" pattern="\d+" required>
              <input class="button" type="submit" value="Pagar">
    </form>
        {% endif %}
      </div>
    </article>
    <hr>

{% endblock %}