{% extends 'base.html' %}

{% block header %}
  <style>
    .description {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .price {
      white-space: nowrap;
      font-weight: bold;
      font-size: 1.0em; 
      margin-right: 20px;
    }
    .description h4 {
      color: #1f32ad;
    }

    .form-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .button {
      margin-top: 3px;
    }

    .upper {
      display: flex;
      align-items: center;
    }
  </style>  
{% endblock %}

{% block content %}
  <article class="post">
    <div class="description">
      <div class="upper">
        {% if type == "order" and purpose == "show_orders" %}
          <span class="price">Número de Cliente:</span>
          <form action="{{ url_for('show_customer_orders') }}" method="post">
            <input class="input_number" type="number" name="cust_no_form">
        {% else %}
          <span class="price">Número de Cliente:</span>
          <form action="{{ url_for('read_cust_no') }}" method="post">
            <input class="input_number" type="number" name="cust_no_form" step="1" min="1" pattern="\d+" required>
        {% endif %}
      </div> <!-- Close the upper div here -->
      <div class="button-container">
        <input class="button" type="submit" value="Confirmar">
      </div>
      </form>
    </div>
  </article>
  <hr>
{% endblock %}