{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Produto {{ product[0] }} ({{product[2]}}€ / Unidade)  | Edição{% endblock %}</h2>

<style>
        label{
            color:#ffffff;
        }
        .button{
            width:50px;
        }
        
</style>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="product_price">Preço</label>
    <input name="product_price" id="product_price" type="number" min="0" step="0.001" placeholder="0.0000"
           value="{{ request.form['price'] or product[2] }}" required>
    <br>
    <label for="product_description">Descrição</label>
    <input name="product_description" id="product_description" type="text" value="{{ request.form['description'] or product[1] }}">
    <br>
    <input class="button" type="submit" value="Guardar">
  </form>
  <hr>

{% endblock %}