{% extends 'base.html' %}

{% block header %}
<style>
  .description {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .price {
    font-weight: bold;
    font-size: 1.0em;
    color:#333333
  }
  .description h4 {
      color: #ffffff;
  }
      .product_name{
          color: #ffffff;
      }
    .button{
  
        padding: 7px 15px;
    }
    
    .address, .price{
        color: #ffffff;
    }
    
    .input-container {
    display: flex;
    flex-direction: column;
  }

  .input-container label {
    margin-bottom: 5px;
  }
   .flex-container {
    display: flex;
  flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    flex-grow: 1; /* Added this line to allow flex-container to grow */
  }

  .Quantity {
    margin-right: 20px;
    display: inline-block;
      
    margin-bottom: 5px;
  }

    
</style>

<h1>
  {% block title %}
  {% if type == "product" %}
      Produtos
  {% elif type == "order"%}
      Encomendas
  {% elif type == "supplier" %}
      Fornecedores
  {% else %}
      Clientes
  {% endif %}
  {% endblock %}
</h1>

{% endblock %}

{% block content %}

    {% if type == "customer" %}
        <form action="{{ url_for('add_customer') }}" method="get">
          <button class="button" type="submit">Adicionar Novo Cliente</button>
        </form>
    {% elif type == "supplier" %}
        <form action="{{ url_for('add_supplier') }}" method="get">
          <button class="button" type="submit">Adicionar Novo Fornecedor</button>
        </form>
    {% elif type == "product" and purpose == "insert_remove" %}
        <form action="{{ url_for('add_product') }}" method="get">
          <button class="button" type="submit">Adicionar Novo Produto</button>
        </form>
   {% endif %}

  {% if type == "product" and purpose == "make_order" %}
      <form action="{{ url_for('new_order', cust_no = cust_no)}}" method="post">
  {% endif %}
          
  {% for item in list %}
  <article class="post">
        
      <div class="description">
        {% if type == "order" %}
          
          <h1 class="product_name">Ordem nº{{ item[0]}} <br> Valor Total: {{item[2]}}€<br>Customer {{ item[1] }}<br><br>
          
          {%if item[3] == 1%} 
              {{item[3]}} Produto
              {%else%}
              {{item[3]}} Produtos
              {%endif%}    
          </h1>

           <div style="display:flex;justify-content: flex-end;">
          <a class="button" href="{{ url_for('pay_delivery', order_no=item[0]) }}">Pagar</a>
          </div>
        {% elif type == "supplier" %}
            <h1>TIN: {{ item[0]}}</h1>
        {% elif purpose=="make_order" %}
            <h1>{{ item[0]}}</h1>
          {%else%}
              <h1>{{ item[0]}}</h1>
        {% endif %}
      </div>
      {% if type == "order" %}
      
      {% endif %}
        
      
    <div class="description">
      {%if type == "supplier"%}
          
          <h4 class="product_name">Nome: {{ item[1] }}<br>
          Morada: {{ item[2] }}<br>Data de contrato: {{ item[3] }} </h4>
          <form action="{{ url_for('supplier_remove', supplier_number= item[0]) }}" method="post">
              <input class="danger" type="submit" value="Remove" onclick="return confirm('Tem a certeza?');">
          </form>
        
      {% elif type == "product" %}
        
      <h4>Descrição: {{ item[1] }}<br>Preço: {{ item[2] }} €</h4>
        {% if purpose == "edit"%}
        <a class="button_right" href="{{ url_for('edit_product', sku=item[3]) }}">Editar</a>
        {%endif%}
          {% if purpose == "insert_remove" %}
              <form action="{{ url_for('product_remove', SKU= item[3]) }}" method="post">
                 <input class="danger" type="submit" value="Remove" onclick="return confirm('Tem a certeza?');">
              </form>
        
        {% elif purpose == "make_order"%}
        <div class="flex-container">
            <div class="Quantity">
              <label class="price" for="product_price_{{ item[3] }}">Quantidade</label>
        </div>
              <div class="input-container">
  <input class="input_number" name="product_price_{{ item[3] }}" id="product_price_{{ item[3] }}" 
    type="number" min="0" step="1" placeholder="0" value="{{ request.form['product_price_' ~ item[3]] }}">
</div>
            </div>
          {% endif %}
        
      {% elif type != "order" %}
          <h4>E-mail: {{ item[1] }} <br> Morada: {{ item[2] }} <br> Telemóvel: {{ item[3] }}</h4>
          <form action="{{ url_for('delete_customer', cust_no=item[4]) }}" method="post">
            <input class="danger" type="submit" value="Remove" onclick="return confirm('Are you sure?');">
          </form>
        
      {% endif %}
        
    </div>
      
  </article>
          
  {% if not loop.last %}
      <hr>
  {% endif %}
      
  {% endfor %}
          
  {% if type == "product" and purpose == "make_order" %}
          <br><br>
          <input class="button" type="submit" value="Confirmar Encomenda">
      </form>
  {% endif %}
{% endblock %}
